<div class="main">
  <mat-grid-list cols="{{format.gridList.cols}}" rowHeight="{{format.gridList.rowheight}}">
    <mat-grid-tile
        [colspan]='format.gridTiles[0][0]'
        [rowspan]='format.gridTiles[0][1]'
        class="side-nav {{format.borderClass}}">
      <div class="content">
        <app-document-view (selectedFile)="changeSelectedFile($event)"></app-document-view>
      </div>
    </mat-grid-tile>
    <mat-grid-tile
        [colspan]='format.gridTiles[1][0]'
        [rowspan]='format.gridTiles[1][1]'
        class="{{format.borderClass}}">
      <div class="content">
        <app-term-frequency-view [tfImage]="tfImage" [selectedFile]="selectedFile"></app-term-frequency-view>
      </div>
    </mat-grid-tile>
    <mat-grid-tile
        [colspan]='format.gridTiles[2][0]'
        [rowspan]='format.gridTiles[2][1]'>
      <div class="content">
        <app-document-frequency-view [dfImage]="dfImage" (dfUpdate)="updateDF()"></app-document-frequency-view>
      </div>
    </mat-grid-tile>
  </mat-grid-list>
</div>
