<div class="main">
  <!-- Landscape Mode -->
  <mat-grid-list cols="5" rowHeight="100%" *ngIf="!this.portrait">
    <mat-grid-tile
        [colspan]=1
        [rowspan]=1
        class="side-nav border-right">
      <div class="content">
        <app-document-view></app-document-view>
      </div>
    </mat-grid-tile>
    <mat-grid-tile
        [colspan]=2
        [rowspan]=1
        class="border-right">
      <div class="content">
        <app-term-frequency-view></app-term-frequency-view>
      </div>
    </mat-grid-tile>
    <mat-grid-tile
        [colspan]=2
        [rowspan]=1>
      <div class="content">
        <app-document-frequency-view></app-document-frequency-view>
      </div>
    </mat-grid-tile>
  </mat-grid-list>

  <!-- Portrait Mode -->
  <mat-grid-list cols="1" rowHeight="33%" *ngIf="this.portrait">
    <mat-grid-tile
        [colspan]=1
        [rowspan]=1
        class="side-nav  border-bottom">
      <div class="content">
        <app-document-view></app-document-view>
      </div>
    </mat-grid-tile>
    <mat-grid-tile
        [colspan]=1
        [rowspan]=1
        class="border-bottom">
      <div class="content">
        <app-term-frequency-view></app-term-frequency-view>
      </div>
    </mat-grid-tile>
    <mat-grid-tile
        [colspan]=1
        [rowspan]=1>
      <div class="content">
        <app-document-frequency-view></app-document-frequency-view>
      </div>
    </mat-grid-tile>
  </mat-grid-list>
</div>
