.main {
  height: 100%;
  width: 100%;
  background-color: #303030;
  color: #fff;;
}

.side-nav {
  background-color: #424242;
}

.border-right {
  border-right: solid 1px rgba(255,255,255,.12);
}

.border-bottom {
  border-bottom: solid 1px rgba(255,255,255,.12);
}


